name: ci

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install depencencies
        run: npm ci

      - name: Run unit tests
        run: npm test -- --coverage

      - name: Style
        run: |
          npm run format:check
          npm run lint
